[submodule ".addons/best2pay"]
	path = .addons/best2pay
	url = git@git.paygine.com:php-applications/sdkit/sdk.git
[submodule "devcscart.ru/app/addons/best2pay/sdk/sdk"]
	path = devcscart.ru/app/addons/best2pay/sdk/sdk
	url = git@git.paygine.com:php-applications/sdkit/sdk.git
[submodule ".devcscart.ru/app/addons/best2pay/sdk/sdk"]
	path = .devcscart.ru/app/addons/best2pay/sdk/sdk
	url = git@git.paygine.com:php-applications/sdkit/sdk.git
[submodule "app/addons/best2pay/sdk/sdk"]
	path = app/addons/best2pay/sdk/sdk
	url = git@git.paygine.com:php-applications/sdkit/sdk.git
